/*ANIMACIONES*/

@keyframes izquierda {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/*ESTILOS*/

html {
    background: #222222 !important;
    color: #ffffff !important;
    animation: izquierda 2s ease 0s 1 normal forwards !important;
}

body {
    background-color: transparent !important;
    color: #ffffff !important;
    min-height: 96.8vh; 
    margin: 0;
}

input:not([type="button"]):not([type="submit"]):not([type="radio"]) {
    width: 350px;
}

input:not([type="file"]):not([type="radio"]) {
    height: 50px;
}

.divGrande {
    background-color: transparent !important; 
    box-shadow: #fcf7f7 2px 2px 10px 2px;
    border-radius: 20px;
    margin: 0 auto 200px auto; 
}

.divFormulario input text {
    color: #e71c1c;
}

.divOjo {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.botonEnviar {
    background: linear-gradient(to right, #008cff, #00b7ff);
    height: 45px;
    border: none; 
    color: white; 
    padding: 10px 20px; 
    cursor: pointer; 
}

.mensajesError {
    color: #ff0000;
    font-style: italic;
    margin: 10px
}

.aBoton {
    text-align: center;

    height: 50px;
    width: 130px;

    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #008cff, #00b7ff);
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    position: relative;
    top: 2px;
    left: 20px;
    margin: 10px

    
}

.aBoton:hover {
    background-color: #0056b3;
    color: #ffffff;
}   

.aBotonMalo {
    height: 50px;
    width: 100px;
    
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    position: relative;
    top: 0px;
    left: 20px;
    margin: 10px;   
}

.aBotonMalo:hover {
    background-color: #b41818;
    color: #ffffff;
}

.input-width {
    max-width: 350px;
}

.form-group {
    margin-bottom: 1rem;
}

  
#ojo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 12px;
}

#ojo2 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
    margin: 10px;
}
