* {
    background-color: #222222;
    color: #ffffff;
}

html {
    background-color: #222222;
    color: #ffffff;
}

body {
    background-color: #222222;
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

.titulo {
    font-style: italic;
    margin-bottom: 30px;
    font-size: 50px;
}

.descripcion {
    font-size: 20px;
}