html {
    background-color: #222222;
}

.navbar {
    background-color: #000000 !important; 
    color: #FFFFFF; 
}

.navbar-brand {
    color: #FFFFFF; 
}

.navbar-brand:hover {
    color: #CCCCCC; 
}

.navbar-nav .nav-link {
    color: #FFFFFF; 
}

.navbar-nav .nav-link:hover {
    color: #1E90FF; 
}

/* Dropdowns */
.nav-item .dropdown-menu {
    background-color: #333333; 
}

.nav-item .dropdown-item {
    color: #FFFFFF; 
}

.nav-item .dropdown-item:hover {
    background-color: #1E90FF; 
    color: #FFFFFF; 
}

/* Botón de búsqueda */
.form-control {
    background-color: #444444; 
    color: #FFFFFF; 
    border: 1px solid #555555; 
}

.form-control::placeholder {
    color: #CCCCCC; 
}

.btn-outline-success {
    color: #FFFFFF; 
    border-color: #1E90FF; 
}

.btn-outline-success:hover {
    background-color: #1E90FF; 
    color: #FFFFFF; 
}

/* Icono de usuario */
#botonUsuario img {
    border: 2px solid #1E90FF; 
}

.dropdown-center .dropdown-menu {
    background-color: #333333; 
}

.dropdown-center .dropdown-item {
    color: #FFFFFF; 
}

.dropdown-center .dropdown-item:hover {
    background-color: #1E90FF; 
    color: #FFFFFF; 
}

/* Saldo del usuario */
#saldoUsuario, #saldoUsuario + label {
    color: #FFFFFF !important; 
}

/* Divider */
.dropdown-divider {
    border-color: #555555; 
}

#btnUsuario {
    background-color: transparent;
    border: none;

    border-radius: 50%;
}